# built stuff

agent/src/build
agent/src/arch
*.o
*.d

# yet to be released
CAI-Cenap/CModules

# experimental
UNDIN/

# NODIN jailbreak
NODIN/*.txt
!NODIN/v0.0.1.txt
!NODIN/NOTE.md
!NODIN/v0.0.2.txt
